<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"/>
		<title>Formulario Degree</title>
	</head>
	<body>
        <h1>Form</h1>
		<form action="newdegree" method="post">
        <label for="name">Name : </label></br>
        <input type="text" name="name"/><br/>

        <label for="institution">Institution : </label><br>
        <input type="text" name="institution"/><br/>

        <label for="year">Year : </label><br>
        <input type="number" name="year"/><br/>

        <br>
        <button type="submit">Submit</button>
        </form>
	</body>
</html>